body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.cta-grid {
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: auto;
}

.grid-2-columns {
  margin-top: 40px;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
}

.menu-grid {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.menu-grid-mini {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .menu-grid, .menu-grid-mini {
    grid-template-columns: 1fr 1fr;
  }
  
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  
  .cta-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .menu-grid, .menu-grid-mini {
    grid-template-columns: 1fr;
  }
}
